.addthis_toolbox.addthis_default_style{ "addthis:url" => "#{request.domain}/posts/#{post_id}" }
  %a.addthis_button_preferred_1
  %a.addthis_button_preferred_2
  %a.addthis_button_preferred_3
  %a.addthis_button_preferred_4
  %a.addthis_button_compact
  %a.addthis_counter.addthis_bubble_style
%script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538759146c05abe0", type: "text/javascript"}
