<h1>These are your Squmbles:</h1>

<ul class="post">
  <% @posts.each do |post| %>
    <div class="post">
      <%= post.content %>
      <%= post.created_at %>
    </div>
  <% end %>
</ul>

<%= link_to '<button type="button">New Squmble</button>'.html_safe, new_post_path %>
