<%= simple_form_for(@post) do |f| %>

  <div class="field">
    <%= f.input :content, :as => :text %>
  </div>
  <br />
  <div class="actions">
    <%= f.button :submit, "Create Squmble" %>
  </div>
<% end %>
