!!!
%html
  %head
    :css
      @import url('http://fonts.googleapis.com/css?family=Montserrat');
      body {
        background: -webkit-linear-gradient(-45deg, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
        text-shadow: 1px 1px 1px #fff;
        font-family: 'Montserrat', sans-serif;
      }
      #message_headers {
        font-size: 0.8em;
        margin: 1em auto;
        width: 80%;
        background-color: rgba(255,255,255,.3);
        border-radius: 2em;
        color: black;
      }
      #container{
        width: 80%;
        margin: 1em auto;
      }
      #wrapper {
        padding: 2em;
        margin: 1em auto;
        width: 80%;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 2em;
      }
      #wrapper h1 {
          position: relative;
          bottom: 2em;
      }
      #wrapper p {
          position: relative;
          bottom: 4em;
      }
      #footer {
        text-align: center;
        margin: 1em auto;
        width: 80%;
        color: white;
        text-shadow: 1px 1px 1px #000;
        display: inline-block;
      }
      #footer h1 {
        display: inline;
      }
      #footer p {
        padding: 1em;
        display: inline-flex;
      }
      #squirrel {
        width: 70px;
        height: 80px;
        background: url(http://evernode.delacqua.us/img/johngmailcom/john/8782395-1cxoz.1);
        background-size: cover;
        position: relative;
        top: 110px;
        left: 720px;
      }
      #squirrel a {
        padding: 0px 0px 60px 70px;
      }
  %body
    #wrapper
      #squirrel
        = link_to "", "https://www.youtube.com/watch?v=4ikH9ZRcF2Q&feature=kp", :target => "_blank"

      = yield
    #footer
      %h1 Squmblr
      %p It's like reddit, imgur and tumblr had a big beautiful baby.
